address {
    padding: 5px; 
    background-color:#eee; 
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

address:hover{
    background-color:#ddd; 
} 

body > hr{
    margin: 30px 50px;
}

.no-results{
    font-size: 17px;
}

.resultado-selected {
    background-color:#0088cc; 
    color: #ffffff;
}

.resultado-selected:hover {
    background-color:#0088cc; 
    color: #ffffff;
}