.novedades {
    margin: 60px 0;
}
.novedades p + h4 {
    margin-top: 28px;
}

.novedades a{
    color: #000;
}

.novedades a:hover{
    color: #005580;
    text-decoration: none;
}

.info-window {
    text-align: left;
}