.tienda-content{
    padding: 0 30px;
}

.tienda-header h1{
    margin-bottom: 0;
}

.tienda-header > div {
    float: left;
}

.tienda-header p {
    padding-top: 20px;
}

.tienda-body{
    padding: 10px;
}

.tienda-body p{
    padding: 10px 0;
}


.tienda-comentarios{
    padding: 0 30px;
}

.comentario{
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fafafa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;

    -webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:  0 1px 1px rgba(0, 0, 0, 0.05);
}

.comentario p{
    margin: 0px;
}

.comentario-header{
    font-weight: bold;
    padding-bottom: 5px;
}

.comentario-fecha{
    color: #666;
}

.comentario dl{
    margin: 0 20px;
}

.comentario dt{
    margin-top: 10px;
}

input, textarea{
    width: 350px;
}